body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.menu a {
    display: block;
    margin: 15px;
    padding: 10px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

input, textarea, select {
    width: 300px;
    margin: 5px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    margin: 10px;
}